* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
  width: 100%;
  background-color: #00c853;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1000;
}

body {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #b9b9b9;
  flex-direction: column;
}

.navbar-brand {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.card {
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  margin: 20px;
  top: -200px;
}

.card-header {
  background-color: #00c853;
  padding: 15px;
  color: #fff;
  text-align: center;
}

.card-header h4 {
  margin: 0;
  font-size: 18px;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #3e3e3e;
  color: #fff;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #00c853;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #00a944;
}

.container {
  margin-top: 40px;
}

.navbar-brand::before {
  content: "🛒";
  margin-right: 10px;
  font-size: 20px;
}

.card {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  padding: 15px;
  width: 100%;
}
.card-body strong {
  color: #00c853;
}

.btn-danger {
  background-color: #d32f2f;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #b71c1c;
}

#product-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 150%;
  max-width: 450px;
}
